__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.env/
*.egg-info/
dist/
build/
*.egg
*.log
staticfiles/
local_settings.py
media/
*.sqlite3
.venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
.coverage
*.cover
coverage.xml
*.py,cover
*/migrations/*
!*/migrations/__init__.py
*.db
Index/